
/* API colors */
/* light-grey #F0F1F4 */
/* grey #4C5363 */
/* blue #5AABFC */
/* green #4ACC90*/
/* button color hover #3DB980 */

.App {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px auto; 
}

.main-title {
  z-index: 1;
  font-weight: bold;
  font-size: 24px;
  background-color: white;
  padding: 0px 15px;
  color: #4C5363;
}

.main-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 70%;
  margin-top: -15px;
  padding: 40px 30px 40px 30px;
  border: solid 1px rgb(177, 177, 177);
  border-radius: 10px;
  min-height: 64px;
}

button {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  outline: none;
  font-weight: bold; 
}

form {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
}

input {
  border-radius: 5px;
  border: solid 1px rgb(211, 211, 211);
  padding: 10px 20px;
}

a {
  text-decoration: none;
}

@media(max-width: 500px) {
  .main-box {
    width: 70%;
  }
}