
.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.list-item {
  display: flex;
  margin: 20px 10px 0px 10px;
  max-width: 500px;
}

.list-info {
  padding: 0px 20px 20px 20px;
}

.list-title {
  font-weight: bold;
  margin-bottom: 10px;
  color: black;
}

.list-published {
  font-size: 12px;
  color: grey;
}

.btn-retry,
.btn-search {
  background-color: #3DB980;
  color: white;
}

.btn-retry:hover,
.btn-search:hover {
  background-color: #329667;
  color: white;
}

.btn-share {
  background-color: #4C5363;
  color: white;
  padding: 5px 15px;
}

.search-form {
  margin: 20px 0px;
}

.search-input {
  width: 300px;
  margin-right: 10px; 
}

.icon-email {
  font-size: 20px;
  margin-right: 5px;
  vertical-align: middle;
}

.btn-share-text {
  vertical-align: middle;
}