
/* API colors */
/* grey #4C5363 */
/* blue #5AABFC */
/* light-green #95D7BD  */
/* button color hover #3DB980 */

.App {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px auto; 
}

.main-title {
  z-index: 1;
  font-weight: bold;
  font-size: 24px;
  background-color: white;
  padding: 0px 15px;
  color: #4C5363;
}

.main-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin-top: -15px;
  padding: 50px 30px 50px 30px;
  border: solid 1px rgb(177, 177, 177);
  border-radius: 10px;
  min-height: 64px;
}

button {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  outline: none;
  font-weight:500; 
  width: 130px;
}

form {
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

input {
  border-radius: 5px;
  outline: none;
  border: solid 1px rgb(211, 211, 211);
  padding: 10px 20px;
  margin-right: 10px;
  width: 300px;
}

@media(max-width: 375px) {
  .main-box {
    width: 70%;
  }
}