
.App {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px auto; 
}

.main-title {
  z-index: 1;
  font-weight: bold;
  font-size: 24px;
  background-color: white;
  padding: 0px 15px;
}

.main-box {
  width: 60%;
  margin-top: -15px;
  padding: 30px;
  border: solid 1px rgb(177, 177, 177);
  border-radius: 10px;
}

@media(max-width: 375px) {
  .main-box {
    width: 70%;
  }
}